menu "Display Engine Configuration"
	depends on DRM && (DRM_AMDSOC || DRM_AMDGPU)

config DRM_AMD_DAL
        bool "AMD DAL - Enable new display engine (will be deprecated when the development is done)"
        help
          Choose this option if you want to use the new display engine
          support for AMD SOC.

          Will be deprecated when the DAL component becomes stable and
          AMDSOC will fully switch to it.

config DEBUG_KERNEL_DAL
        bool "Enable kgdb break in DAL"
        depends on DRM_AMD_DAL
        help
         Choose this option
         if you want to hit
         kdgb_break in assert.

endmenu
